/*  your css code here. If applicable */
:root{
	background-color:skyblue;
}

 div :first-child{
	background-color:black;
	color:white;
}

 div :last-child{
	color: red;
}

 ul li:nth-child(1){
	background-color:white;
}

 ul li:nth-child(5){
	background-color:white;
}

 ul li:nth-child(2){
    background-color: slategrey;
}

ul li:nth-child(3){
	background-color:pink;
}

 ul li:nth-child(4){
    background-color: slategrey;
}